<% layout('index') -%>

<div class="col container">
    <h3>Connection Details</h3>
    <div class="col">
        <!-- <div class="col-1"></div> -->
        <div class="col">
            <font class="h5_font">Status</font>
            <% if(network || wifi){ %>
            <span class="badge badge-success">Online</span>
            <% }else{ %>
            <span class="badge badge-secondary">No Connection</span>
            <% } %>
        </div>
        <div class="col">
            <font class="h5_font">SSID : </font>
            <span style="font-style:italic"><%= wifi ? ' ' + wifi.ssid : '' %></span>
        </div>
        <div class="col">
            <font class="h5_font">Name : </font>
            <span style="font-style:italic"><%= network ? ' ' + network.name : '' %></span>
        </div>
        <div class="col">
            <font class="h5_font">Model : </font>
            <span style="font-style:italic"><%= network ? network.model ? ' ' + network.model : '' : '' %></span>
        </div>
        <div class="col">
            <font class="h5_font">Type : </font>
            <span style="font-style:italic"><%= network ? ' ' + network.type : '' %></span>
        </div>
        <div class="col">
            <font class="h5_font">Security : </font>
            <span style="font-style:italic"><%= wifi ? ' ' + wifi.security : '' %></span>
        </div>
    </div>
</div> 
<br />
<br />
<div class="col container">
    <h3>FTP Details</h3>
    <div class="col">
        <div class="col">
            <font class="h5_font">Status</font>
            <% if(network || wifi){ %>
            <span class="badge badge-success">Online</span>
            <% }else{ %>
            <span class="badge badge-secondary">No Connection</span>
            <% } %>
        </div>
        <div class="col">
            <font class="h5_font">Network Address : </font>
            <span style="font-style:italic"><%= ipAddress ? ' ' + ipAddress : '' %></span>
        </div>
        <div class="col">
            <font class="h5_font">Port Used : </font>
            <span style="font-style:italic"><%= ftpObject.port ? ' ' + ftpObject.port : '' %></span>
        </div>
        <div class="col">
            <font class="h5_font">Username : </font>
            <span style="font-style:italic"><%= ftpObject.username ? ' ' + ftpObject.username : '' %></span>
        </div>
        <div class="col">
            <font class="h5_font">Password : </font>
            <span style="font-style:italic"><%= ftpObject.password ? ' ' + ftpObject.password : '' %></span>
        </div>
        <div class="col">
            <font class="h5_font">Directory : </font>
            <span style="font-style:italic"><%= ftpObject.directory ? ' ' + ftpObject.directory : '' %></span>
        </div>
    </div>
</div> 